.git
.github
.idea
.vscode
node_modules
vendor
.env
.env.*
!.env.example
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.cache
phpunit.xml
tests
README.md
Dockerfile
docker-compose*.yml
